// Primary colors
$primary-color: rgb(32,33,34);
$primary-background-color: rgb(248, 249, 250);
$general-background-color: white;

// Font settings
$font-stack: Georgia, 'Times New Roman', Times, serif;

// Border and button colors
$border-color: rgb(162, 169, 177);
$border-properties: 1px solid $border-color;
$custom-border-properties: 1px solid rgb(234, 234, 234);
$button-hover-background-color: rgb(255, 255, 255);
$button-background-color: rgb(232, 231, 231);

// Link colors
$link-primary-color: rgb(51,102,204);
$link-custom-red: rgb(215,51,51);
$link-custom-black: black;
$bottom-links-background-color: rgb(204,204,255);

// Menu colors
$sidebar-color: rgb(84,89,93);
$dropdown-menu-color: rgb(225, 242, 255);
$custom-border-menu-color: rgb(200,204,209);
$container-background-color: rgb(253,253,253);
$tooltip-color: black;

// Complex properties
$box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
$z-index-low: 100;
$z-index-high: 300;

// Placeholder classes
%shared-layout-justify {
  display: flex;
  justify-content: center;
}
%shared-layout-align {
  display: flex;
  align-items: center;
}