@import 'partials/variables';

body {
  margin: 0;
  background-color: $primary-background-color;
  font-family: sans-serif;
  font-size: 14px;
  color: $primary-color;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}

.content-body{
  background-color: white;
  max-width: 1600px;
  position: relative;
}

a {
  color: $link-primary-color;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

small {
  display: block;
  margin: 18px 0;
}