@import 'partials/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 147px;
  left: 0;
  bottom: 295px;
  width: 234px;
  padding: 0 52px 0 52px;
  z-index: $z-index-low;
}

.sidebar__hide-link {
  font-size: 13.3px;
}

.sidebar__hide-link:hover {
  text-decoration: none;
}

.sidebar__heading {
  border-bottom: $custom-border-properties;
  color: $sidebar-color;
  padding-bottom: 7px;
}

.sidebar__link-top {
  padding-top: 6px;
  color: $primary-color;
}

.sidebar__links {
  padding-bottom: 12px;
}